@model Senai.Chamados.Web.ViewModels.Conta.AlterarSenhaViewModel
@{
    ViewBag.Title = "AlterarSenha";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>AlterarSenha</h2>
{
@using (Html.BeginForm())
    <div class=" form-horizontal">
        <hr />
        @Html.ValidationSummary(true,"", new { @class="text-danger"})
        
        <div class="form-group">
            @Html.LabelFor(x => x.SenhaAtual, new { @class = "control-label col-md-2"})
            <div class= "col-md-10">
                @Html.EditorFor(x => x.SenhaAtual, new { @class = "text-danger" })
                @Html.ValidationMessageFor(x => x.SenhaAtual,"", new { @class ="text-danger"})
            </div>
        </div>
    </div>
        }